.Rproj.user
.Rhistory
.RData
.Ruserdata
assignments/blastdb
*.fastq.gz
*.index
*.h5
*.json
*.fasta
*.fasta.gz
*.fa
abundance.tsv
*.fna
*.gz
*.bam
*.bai
*.txt
*.gtf
*.fai
*.out
*.bed
*.vcf
*.gff
rsconnect